@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Montserrat:wght@500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@200;400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
box-sizing: border-box;
overflow: auto;
}
html{
scroll-behavior: smooth;
}
.top-btton{
    position: fixed;
    bottom: 20px;
    right:30px;
}
.container{
    max-width: 1216px;
    margin: 0 auto;
      padding: 0px 20px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.menu-bar{
    display: flex;
    gap: 33px;

}

.menu-bar li a{
    color:#0C073D;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    transition: all .3s ease-in-out;
}
.menu-bar li a:hover{
    color:rgb(0,123,255);
}
.site-bar{
    display: flex;
    padding: 6px 6px 0px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid #DBE0F1;
align-content: center;
justify-content: center;
}
.logo{
    z-index: 9999;
}
.banner-section{
    max-width: 1280px;
min-height: 360px;
    margin: 0 auto;
   background-image: url(../img/banner2.png);
  background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}
.banner{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
     gap:30px;
top:80px;
}
.banner h1{
    color: var(--White, #FFF);
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 600;
letter-spacing: -1px;
}

.banner p{
    color: var(--White, #FFF);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
.banner-icon-itms{
display: flex;


    padding: 0px 8px;
    width: 100%;
    max-width: 980px;
  min-height: 62px;
    align-content: center;
    align-items: center;
    justify-content:space-between;
    border-radius: 500px;
    border: 1px solid var(--violet-gray-300, #CACDE0);
    background: var(--White, #FFF);
    margin: 0 auto;
}
.itm-bann{
    flex-grow: 1;
}

.Place{
    display: flex;
    gap: 10px;
}
.Property-Type{
    display: flex;
    gap: 10px; 
}
.keyword img,
.Property-Type img,
.Place img{
    width: 32px;
height: 32px;
}

.select-box{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.select-box span{
    color: #656A8C;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.keyword{
    display: flex;
    gap: 12px;
}
.keyword-box{
    display: flex;
 flex-direction: column;
    gap:8px;
}
.keyword-box h3{
    color: #0C073D;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.Property-Type h3{
    color: #0C073D;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.keyword-box,
.Property-Type span{
    color: var(--violet-gray-500, #656A8C);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

}
.search-box{
    display: flex;
justify-content: center;
gap:15px;
}
.buy-box{
    display: flex;
    max-width: 155px;
    height:36px;
padding: 4px 22px 4px 4px;
align-items: center;
gap: 8px;
border-radius: 24px;
background: var(--violet-gray-50, #F6F9FC);
}
.buy-box h4{
    color: var(--violet-gray-900, #0C073D);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.buy-left{
display: flex;
padding: 8px 16px 8px 12px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 54px;
background: var(--White, #FFF);

box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
}

.Rent-right h4{
    color: var(--violet-gray-500, #656A8C);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.select-propertype{
    background-position: 90px 6px;
}
select option{
background-color: gray;
border: none;
line-height: 50px;
outline: none;

}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: none;
    background-image: url('../img/dropdoen-select.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8px;
    background-position: 40px 5px;
    flex: 1;
    color: #0C073D;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;

 }
 .select-featured-menu {
    background-position: 76px 6px;
    width: 90px;
}
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 5em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 section.Featured-section {
    margin-top: 27px;
}
.featured-slide-box{
display: flex;
justify-content: space-between;
}
.featured-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.featured-menu{
    display: flex;
    gap:15px;
}
.featured-box h2{
    color: var(--violet-gray-900, #0C073D);

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.5px;
}
.featured-menu li{
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 18px;
background: var(--violet-gray-50, #F6F9FC);
transition: .25s all ease-in-out;
}
li.select-featured-menu-box{
    padding: 8px 15px;
    width: 90px;
}
.featured-menu li:hover select{
color:#FFF
    
    }
.featured-menu li:hover{
background-color: #0C073D;

}
.featured-menu li:hover a{
    color: #FFF !important;
}
.featured-menu li a{
    color: var(--violet-gray-900, #0C073D);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.featured-itms{
    max-width: 280px;
}
.featured-img-box{
    position: relative;
}
.love{
    position: absolute;
left:235px;
top:10px;
transition: .25s all ease-in-out;
}
.love:hover path{
fill:#007BFF;
stroke: #007BFF;
}
.doted{
    position: absolute;
    bottom:144px;
    display: flex;
    left:110px;
    gap:5px;
}
.doted li:hover{
    background-color: #FFF;

}
.doted li{
width: 8px;
height: 8px;
border-radius: 50px;
background-color: rgba(255, 255, 255, 0.50);
transition: .25s all ease-in-out;

}

.name-rate{
    display: flex;
    justify-content: space-between;
}

.name-rate h3{
    color: var(--violet-gray-500, #656A8C);
 
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.name-rate img{
width:34px;
height: 16px;
}
.featured-content-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}
.feaured-background-image{
    max-width: 280px;
    height: 280px;
    transition: all .3s ease-in-out;
}
.feaured-background-image:hover{
transform: scale(0.98);
max-width: 280px;
height: 280px;
}
.featured-content-box span{
    color: var(--violet-gray-900, #0C073D);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.featured-content-icon-box{
    display:flex;
gap: 15px;
}
.featured-icon-itms{
    display: flex;
    gap:7px;
    align-items: center;
}
.featured-icon-itms span{
    color: var(--violet-gray-500, #656A8C);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.doller h3{
    color: var(--violet-gray-900, #0C073D);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.nav-button-section{
   
    margin-top: -240px;
    margin-bottom: 340px;
}

.nav-button-container{
    max-width: 1350px;
    margin: 0 auto;
}

.nav-button-box{
    display:flex;
    justify-content: center;

}


.nav-button-box .right{

position: absolute;
left: 260px;
}
.nav-button-box .left{

    position: absolute;
    right: 260px;
    }



.nav-button-box-map svg:hover,
 .take-nav-button-box svg:hover,   
.nav-button-box svg:hover{
fill: #007BFF;
border:none;
}

.nav-button-box-map svg:hover path,
.take-nav-button-box svg:hover path,
.nav-button-box svg:hover path{
    stroke: #FFF;
}

.help-section{
margin-top: 100px;
}

.help-content h2{
    color: var(--violet-gray-900, #0C073D);
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 112.5% */
    letter-spacing: -1px;
margin-bottom: 20px;
}

.help-content p{
    color: var(--violet-gray-500, #656A8C);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
.help-box{
    margin-top: 30px;
    display: flex;
gap: 32px;
}
.help-itms{
   flex-basis: 384px;

   display: flex;
   padding: 48px 32px;
   flex-direction: column;
   align-items: center;
   gap: 20px;

  
   border-radius: 16px;
   background: var(--violet-gray-50, #F6F9FC);

  
}

.help-itms h3{
    color: var(--violet-gray-900, #0C073D);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.help-itms p{
    color: var(--violet-gray-500, #656A8C);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.hlp-button{
    display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 22px;
border: 1px solid var(--primary-600, #007BFF);
background: var(--primary-600, #007BFF);
transition: all .3s ease-in-out;
}
.hlp-button:hover{
    background-color: #00BFFF;
    border: 1px solid var(--primary-600, #00BFFF);
    }
.hlp-button a{
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.take-section{
   overflow: hidden;
   margin-top: 70px;
   margin-bottom: 80px;
}
.take-box{
    display: flex;
    gap:40px;
margin-left: -40px;

width: 120%;
margin-top: 40px;
}

.take-content{
    display: flex;
    justify-content: space-between;
}
.take-box-itms{
    position: relative;
    box-sizing: border-box;
    transition: .6s all ease-in-out;
}
.take-box-itms:hover .take-box-itms-white{
  background-color: #F6F9FC; 

}

.take-box-itms:hover .take-box-itms-white h3{

    color: var(--violet-gray-900, #0C073D);
  }
  .take-box-itms:hover .take-box-itms-white span{

    color: var(--violet-gray-900, #0C073D);
  }
  .take-box-itms:hover .take-box-itms-white p{

    color: #656A8C;
  }

  .take-box-itms:hover .take-box-itms-blue{
    background-color: #007BFF;
  }
.take-box-itms:hover .take-itms-overlay{
opacity: 1;
height: 296px;
max-width:296px;

}

.take-img1{
    display: block;
    max-width: 296px;
    height: 296px;   
    z-index: 1; 
}
.take-itms-overlay{
    position: absolute;
    top:0;
    left:0;
    max-width:0;
    height: 0;
    display: flex;

    padding: 25px 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    background: var(--violet-gray-900, #0C073D);
    box-sizing: border-box;
    transition:.5s all ease-in-out;
z-index: 0;
    opacity: 0;
}

.take-itms-overlay h3{
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.take-itms-name span{
    color: var(--White, #FFF);

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.take-itms-name p{
    color: var(--violet-gray-300, #CACDE0);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

.take-nav-button-box {
    display: flex;
    gap: 2;
}

.Latest-news-section{
    display: flex;
    width: 100%;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background-color: #F6F9FC;
    margin: 0 auto;
}
.Latest-news-content{
    display: flex;
    gap: 8px;
}

.take-content h2,
.Latest-news-content h2{
    color: var(--violet-gray-900, #0C073D);

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 112.5% */
    letter-spacing: -1px;
}

.Latest-news-select {
    color: #007BFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1px;

    width: 190px;
    background-size: 20px;
    background-position: 169px 12px;
    background-image: url('../img/Latest-news-dropdown.svg');
}

.Latest-news-select-box select option{
font-size: 18px;
color:white;
margin-bottom: 20px;
}
.Latest-news-select-box select .option-list{
   padding:0px 0px;
width: 190px;
}

.Latest-news-left-right{
    display: flex;
  
    gap:30px;
margin-top: 50px;
}
.Latest-news-left img{
    width: 100%;
    max-width:778px;
    height: 340px;
    align-self: stretch;
    margin-bottom: 20px;
}
.Latest-news-left-content{
    display: flex;
    flex-direction: column;
gap: 15px;
}
.Latest-news-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.Latest-news-right-box{
    display: flex;
    gap: 20px;
  
}.Latest-news-left-content-sm span,
.Latest-news-left-content span{
    color: var(--violet-gray-500, #656A8C);
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Latest-news-left-content p{
    color: var(--violet-gray-900, #0C073D);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.Latest-news-left-content-sm p{
    color: var(--violet-gray-900, #0C073D);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
   max-width: 721px;
}

.Latest-news-button{
    display: flex;
padding: 10px 0px;
width: 162px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 22px;
border: 1px solid var(--violet-gray-900, #0C073D);
margin: 0 auto;
transition: all .3s ease-in-out;
margin-top: 80px;
}
.Latest-news-button:hover{
background-color: #0C073D;
border: 1px solid var(--violet-gray-900, #0C073D);
}

.Latest-news-button:hover a{
color: #FFF;
}
.Latest-news-button a{
    color: var(--violet-gray-900, #0C073D);
  
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.Popular-cities-section {
margin-top: 80px;
}
.Popular-cities-box{
    display: flex;
    gap: 28px;
margin-top: 50px;
overflow: hidden;
}
.Popular-cities-content h2{
    color: var(--violet-gray-900, #0C073D);
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 112.5% */
letter-spacing: -1px;
}
.Popular-cities-itms{
    position: relative;
    display: flex;
width: 280px;
height: 392px;

flex-direction: column;
justify-content: flex-end;
align-items: center;
border-radius: 16px;
background-image: url('../img/Popular-cities-itms-img\ \(1\).png');

background-repeat: no-repeat;

object-fit: cover;
transition: all .3s ease-in-out;
}
.Popular-cities-itms:hover{
    transform: scale(0.98);
}
.Popular-cities-box .Popular-cities-itms:nth-child(1){
    background-image: url('../img/Popular-cities-itms-img\ \(1\).png');
}

.Popular-cities-box div:nth-child(2){
    background-image: url('../img/Popular-cities-itms-img\ \(2\).png');
}
.Popular-cities-box div:nth-child(3){
    background-image: url('../img/Popular-cities-itms-img\ \(3\).png');
}
.Popular-cities-box div:nth-child(4){
    background-image: url('../img/Popular-cities-itms-img\ \(4\).png');
}
.Popular-cities-itms-content-box{
    position: absolute;
bottom:15px;
    color: var(--violet-gray-400, #9398B8);
font-size: 14px;
font-style: normal;
font-weight: 400;
width: 100%;
max-width: 220px;
display: flex;
flex-direction: column;
gap: 5px;
padding: 16px;
line-height: 20px;
border-radius: 16px;
background: rgba(12, 7, 61, 0.70);
backdrop-filter: blur(12px);

}
.Popular-cities-itms-content-box-top-left{
    display: flex;
    justify-content: space-between;
}

.Popular-cities-itms-content-box-top-left h3{
    color: var(--White, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
}

.Popular-cities-itms-content-box span{

color: var(--violet-gray-400, #9398B8);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;}

.Popular-cities-section .nav-button-section {
    margin-top: -214px;
    margin-bottom: 340px;
}
.footer-section{
    display: flex;
padding: 80px 0px 35px 0px;
flex-direction: column;
align-items: center;
gap: 64px;
align-self: stretch;
background: var(--violet-gray-50, #F6F9FC);

}
.footer-content{
    display: flex;
    flex-direction: column;
    gap:24px;
}
.footer-content img{
    width: 155px;
    height: 38px;

}
.footer-content p{
    color: var(--violet-gray-500, #656A8C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.social-footer{
    display: flex;
    gap: 24px;
}
.social-footer img{
    width: 24px;
    height: 24px;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 48px;
    border-bottom: 1px solid #DBE0F1;

}
.footer-box .footer-itm-box:nth-child(1){
flex-basis: 320px;

}
.footer-box .footer-itm-box:nth-child(2){
    flex-basis: 150px;
    
    }

    .footer-box .footer-itm-box:nth-child(3){
        flex-basis: 120px;
        
        }

        .footer-box .footer-itm-box:nth-child(4){
            flex-basis: 178px;
            
            }
            .footer-box .footer-itm-box:nth-child(5){
                flex-basis: 178px;
                
                }
.footer-itm-box h2{
    color: var(--violet-gray-900, #0C073D);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
margin-bottom: 16px;
}.footer-contact,
.footer-menu{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.footer-menu li a{
    color: var(--violet-gray-500, #656A8C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
.footer-menu li a:hover{
color:#007BFF;
}
.footer-contact-itm{
    display: flex;
    align-items: center;
    gap: 8px;
}


.footer-contact-itm span{
    color: var(--violet-gray-500, #656A8C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.footer-copy-text{
    position: relative;
    display: flex;
    padding: 32px 0px 0px 0px;
    align-items: center;
    justify-content:space-between;
    gap: 54px;
    align-self: stretch;
}
.footer-copy-text p{
    color: var(--violet-gray-500, #656A8C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
section.maps-section {
    padding-bottom: 50px;
}

.container-map{
    max-width: 1440px;
    margin: 0 auto;
      padding: 0px 20px;
}
.container-map-main{
     
}
.banner-section-map{
    background-image: none;
    max-width: 1440px;
	margin-top: -50px;
	min-height: 174px;
}
.banner-section-map .banner-itms-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-border,
    .right-border{

    width: 100%;
    max-width:250px;
    height: 1px;
  
    background-color:#E6E7F2 ;
}


.banner-section-map .banner-icon-itms {
   
    margin: 0 0;
}
.map-right-left {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}
.map-left{
    flex-basis: 678px;
}

.over-left{
    display: flex;
    gap:12px;
}

.over{
    display: flex;
    justify-content: space-between;

}

.over-right{
    display: flex;
align-items: center;
gap:12px;
}
.featured-box-map{
display:flex;
flex-wrap: wrap;
gap:32px;
padding:25px 0px
}

.featured-box-map .featured-itms {
    max-width: 320px;
}
.featured-box-map .love {
    position: absolute;
    left: 273px;}

.featured-box-map .feaured-background-image {
    max-width: 320px;
    height: 320px;
    transition: all .3s ease-in-out;
}
.featured-itms.doted {
    position: absolute;
    bottom: 144px;
    display: flex;
    left: 130px;
    gap: 5px;
}
.map-left-box h2{
    color: var(--violet-gray-900, #0C073D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;

}
.ovar-left-button-box{
    display: flex;
padding: 10px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border: 1px solid #DBE0F1;
border-radius: 20px;
}
.over-left-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.over-left-button span{
    color: var(--violet-gray-900, #0C073D);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.map-select{
        background-position: 57px 8px;
        width: 71px;
    color: var(--violet-gray-500, #656A8C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.over-right span{
    color: var(--violet-gray-900, #0C073D);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.click-button{
    display: flex;
width: 48px;
height: 32px;
padding: 2px;
justify-content: flex-end;
align-items: center;
border-radius: 32px;
background: var(--primary-600, #007BFF);
}

.next-number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;

}
.number-box{
    display: flex;
}
.number-box .number-itms{
    color: var(--violet-gray-500, #656A8C);
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
display: flex;
width: 40px;
height:40px;
padding: 6px;
justify-content: center;
align-items: center;
flex-shrink: 0;
align-self: stretch;
transition: all .5s ease-in-out;
}
.number-box .number-itms:hover{
color: #FFF;
    border-radius: 50px;
background: var(--primary-600, #007BFF);
}
.number-dot{
    color: var(--violet-gray-500, #656A8C);
text-align: center;
margin-top: 12px;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}
.map-slide-featured {
    margin-top: 200px;
	    padding-left: 30px;
}
.map-right {
    width: 100%;
    max-width: 760px;
    background-image: url(../img/Maps.png);
    height: 856px;
    flex-shrink: 0;
}

.right-plus-min-button{
	padding:20px 15px;
	display:flex;
	justify-content:space-between;
}
.right-btn:hover{
    fill: #00BFFF;
}

.right-btn:hover path{
  stroke: #FFF;
}
.plus-min-button{
    display: flex;
    flex-direction: column;
}
.feaured-background-image-map {
	width:100%;
    max-width: 320px;
    height: 260px;
    transition: all .3s ease-in-out;
}
.featured-map{
	width:100%;
	max-width:320px;
}
.featured-map .love {
    position: absolute;
    left: 274px;
    top: 10px;
    transition: .25s all ease-in-out;
}
    
.nav-button-box-map {
    position: absolute;
    left: 8px;
    top: 119px;
    transition: .25s all ease-in-out;
    display: flex;
    width: 100%;
    max-width:304px;
    justify-content: space-between;
}

.featured-map .featured-content-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -2px;
    background-color: white;
    border-radius: 0px 0px 16px 16px;
}


.featured-map .featured-content-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -12px;
    background-color: white;
    border-radius: 0px 0px 16px 16px;
    /* height: 103px; */
    padding: 16px;
}

.featured-map .doted {
    position: absolute;
    bottom: 165px;
    display: flex;
    left: 129px;
    gap: 5px;
}



.icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap:20px;
display: none;
    right: 5px;
    z-index: 9999;
  }
  .icons i{
    font-size: 20px;
    color:#0C073D;

   right:10px;


  }
#close-btn{
display: none;
}
#check{
display: none;
}  
#check:checked~.icons #menu-bar{ 
display: none;
} 
#check:checked~.icons #close-btn{ 

display: block;

}   




